{{ template "header" }}
<h1>Check your email </h1>
<p>An email has been sent to the email address {{ .Email }} with instruction to reset your password
<div>
  <p><a href="/forgot-pw">Forgot password</a> </p>
  <p><a href="/sign-up">Sign-up</a> </p>
</div>
{{ template "footer" }}