{{template "header"}}
<h1>FAQ</h1>
  <ol class="list-disc">
  {{ range . }}
    {{template "qa" .}}
    </br>
  {{ end }}
  </ol>

  {{define "qa"}}
  <li><b> {{.Question}} </b> {{.Answer}} </li>
  {{end}}

{{template "footer"}}