<h1>Welcome to Home page</h1>
{{template "lorem-ipsum"}}
{{template "lorem-ipsum"}}
{{template "lorem-ipsum"}}
{{define "lorem-ipsum"}}
<p>Curabitur dignissim faucibus leo, a suscipit magna molestie id. Maecenas finibus mi id lorem pellentesque posuere. Proin nec pellentesque justo, eget convallis nunc. Nulla aliquet ex commodo sapien tempor, nec consectetur tortor pretium. Morbi vitae blandit ipsum, ut gravida tortor. Etiam feugiat sit amet tortor nec elementum. Quisque vitae dapibus nisi. Morbi mattis gravida arcu, a dignissim risus semper sed. Vivamus mattis nunc vitae purus sagittis consectetur. In ut elementum elit.</p>
{{end}}